In [2]:
import pandas as pd
import talib as ta  # pip install numpy==1.23.0 --force 
import numpy as np

# pd.options.display.float_format = '{:.1f}'.format
pd.options.display.float_format = '{:.2f}'.format

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
from pathlib import Path
from sys import path

notebook_path = Path.cwd()
SITE = notebook_path.parent
path.append(str(SITE.absolute()))
from libs.helpers import *
# from libs.c_helpers import *

In [5]:
ticker = "VNI"
filename = SITE / f'investing/data/exports/indices/{ticker}.csv'

# ignore 2024-04-01 lol :))
df = pd.read_csv(filename, infer_datetime_format=True)[:-1]
df = df.rename(columns={
    # 'Date': 'D',
    # 'Close': 'C',
    # 'Open': 'O',
    # 'High': 'H',
    # 'Low': 'L',
    'Volume': 'Vol',
    'Change': 'Chg'
})

FileNotFoundError: [Errno 2] No such file or directory: '/home/hung/Documents/PROJECT/gapping/AQ_Partners/investing/data/exports/indices/VNI.csv'

In [ ]:
# df = pd.read_csv(filename, infer_datetime_format=True)
# df['Ret'] = 1 + (df['Chg'] / 100)
# df['CumRet'] = df['Ret'].cumprod()

df['Vol'] = df['Vol'].astype(int)
df.set_index('Date', inplace=True)
df.index = pd.to_datetime(df.index)

In [ ]:
daily_df = df.copy()

In [ ]:
daily_df.describe()

        Close    Open    High     Low          Vol     Chg
count 5752.00 5752.00 5752.00 5752.00      5752.00 5752.00
mean   638.50  638.60  642.44  634.47    265768.60    0.06
std    349.75  349.84  352.32  346.89   3125607.20    1.45
min    101.55  101.55  101.55  101.55         0.00   -7.37
25%    385.84  385.61  388.43  383.57      5487.50   -0.56
50%    551.34  550.98  554.68  547.25     60660.00    0.06
75%    952.06  951.55  958.31  946.28    187192.50    0.75
max   1528.57 1534.10 1536.45 1524.96 121250000.00    6.88

In [ ]:
# daily_df['VolChg']  = daily_df['Vol'].pct_change()*100

# # daily_df['AVGPRICE'] = ta.AVGPRICE(daily_df['Open'], daily_df['High'], daily_df['Low'], daily_df['Close'])
# # daily_df['AVGPChg'] = daily_df['AVGPRICE'].pct_change() * 100

# daily_df['AVGPChg'] = (ta.AVGPRICE(daily_df['Open'], daily_df['High'], daily_df['Low'], daily_df['Close'])).pct_change() * 100

# # daily_df['MEDPRICE'] = ta.MEDPRICE(daily_df['High'], daily_df['Low'])
# # daily_df['MEDPChg'] = daily_df['MEDPRICE'].pct_change() * 100

# daily_df['MEDPChg'] = (ta.MEDPRICE(daily_df['High'], daily_df['Low'])).pct_change() * 100

# # daily_df['TYPPRICE'] = ta.TYPPRICE(daily_df['High'], daily_df['Low'], daily_df['Close'])
# # daily_df['TYPPChg'] = daily_df['TYPPRICE'].pct_change() * 100

# daily_df['TYPPChg'] = (ta.TYPPRICE(daily_df['High'], daily_df['Low'], daily_df['Close'])).pct_change() * 100

# # daily_df['WCLPRICE'] = ta.WCLPRICE(daily_df['High'], daily_df['Low'], daily_df['Close'])
# # daily_df['WCLPChg'] = daily_df['WCLPRICE'].pct_change() * 100

# daily_df['WCLPChg'] = (ta.WCLPRICE(daily_df['High'], daily_df['Low'], daily_df['Close'])).pct_change() * 100

In [ ]:
# daily_df['Chg1W'] = daily_df['Close'].pct_change(5)*100
# daily_df['Chg1M'] = daily_df['Close'].pct_change(21)*100
# daily_df['YTD'] = daily_df['Close'] / daily_df.loc[daily_df.index[0], 'Close'] - 1
# daily_df['Chg1Y'] = daily_df['Close'].pct_change(252)*100
# daily_df['Chg3Y'] = daily_df['Close'].pct_change(252 * 3)*100

In [ ]:
# period = 13
# daily_df['MFI'] = ta.MFI(daily_df['High'], daily_df['Low'], daily_df['Close'], daily_df['Volume'], timeperiod=period)
# daily_df['RSI'] = ta.RSI(daily_df['Close'], timeperiod=period)
# daily_df['ATR'] = ta.ATR(daily_df['High'], daily_df['Low'], daily_df['Close'], timeperiod=period)
# daily_df['NATR'] = (daily_df['ATR'] / daily_df['Close']) * 100 
# daily_df['TRANGE'] = ta.TRANGE(daily_df['High'], daily_df['Low'], daily_df['Close'])

In [ ]:
daily_df2 = df.copy()
daily_df2

             Close    Open    High     Low      Vol   Chg
Date
2000-07-31  101.55  101.55  101.55  101.55       10  1.55
2000-08-02  103.38  103.38  103.38  103.38        0  1.80
2000-08-04  105.20  105.20  105.20  105.20        0  1.76
2000-08-07  106.92  106.92  106.92  106.92       10  1.63
2000-08-09  108.64  108.64  108.64  108.64       20  1.61
...            ...     ...     ...     ...      ...   ...
2024-03-25 1267.86 1281.80 1286.84 1264.51  1240000 -1.09
2024-03-26 1282.21 1267.86 1282.50 1264.42   941700  1.13
2024-03-27 1283.09 1282.21 1286.72 1276.95   919280  0.07
2024-03-28 1290.18 1283.09 1293.90 1283.09  1010000  0.55
2024-03-29 1284.09 1290.18 1293.04 1282.44   922550 -0.47

[5752 rows x 6 columns]

In [ ]:
functions = ['mean',]
daily_df2 = add_rolling_functions(daily_df2, ['Chg',], ['8D',], functions)

In [ ]:
daily_df2 = add_percentage_change(daily_df2, 'Close', ['W', 'M', 'YTD',])

In [ ]:
indicators = {
    'EMA': {
        'time_periods': [5, 13],
        'input_columns': 'Close'
    },
    'TRANGE': {
        'time_periods': "",
        'input_columns': ('High', 'Low', 'Close')
    }
}

In [ ]:
daily_df2 = add_technical_indicators(daily_df2, indicators)

In [ ]:
daily_df2["VpR"] = daily_df2["Vol"] / daily_df2["TRANGE"]

In [ ]:
daily_df2.tail()

,Close,Open,High,Low,Vol,Chg,ChgMean8D,ChgW,ChgM,YTD,EMA5,EMA13,TRANGE,VpR
Date,,,,,,,,,,,,,,
2024-03-25,1267.86,1281.80,1286.84,1264.51,1240000,-1.09,0.06,1.95,4.61,11.49,1268.06,1260.09,22.33,55530.68
2024-03-26,1282.21,1267.86,1282.50,1264.42,941700,1.13,0.52,3.20,4.74,11.63,1272.77,1263.25,18.08,52085.18
2024-03-27,1283.09,1282.21,1286.72,1276.95,919280,0.07,0.54,1.83,3.69,11.64,1276.21,1266.08,9.77,94092.12
2024-03-28,1290.18,1283.09,1293.90,1283.09,1010000,0.55,0.40,1.08,2.84,11.70,1280.87,1269.53,10.81,93432.01
2024-03-29,1284.09,1290.18,1293.04,1282.44,922550,-0.47,0.10,0.18,2.50,11.64,1281.94,1271.61,10.60,87033.02

In [ ]:
daily_df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5752 entries, 2000-07-31 to 2024-03-29
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Close      5752 non-null   float64
 1   Open       5752 non-null   float64
 2   High       5752 non-null   float64
 3   Low        5752 non-null   float64
 4   Vol        5752 non-null   int64
 5   Chg        5752 non-null   float64
 6   ChgMean8D  5752 non-null   float64
 7   ChgW       5747 non-null   float64
 8   ChgM       5731 non-null   float64
 9   YTD        5752 non-null   float64
 10  EMA5       5748 non-null   float64
 11  EMA13      5740 non-null   float64
 12  TRANGE     5751 non-null   float64
 13  VpR        5745 non-null   float64
dtypes: float64(13), int64(1)
memory usage: 674.1 KB

In [ ]:
# daily_df2.loc[daily_df2['TRANGE'] == 0, 'VpR'] = 0

In [ ]:
mask = daily_df2.isnull().any(axis=1)
rows_with_null = daily_df2[mask]
rows_with_null

,Close,Open,High,Low,Vol,Chg,ChgMean8D,ChgW,ChgM,YTD,EMA5,EMA13,TRANGE,VpR
Date,,,,,,,,,,,,,,
2000-07-31,101.55,101.55,101.55,101.55,10,1.55,1.55,NaN,NaN,0.00,NaN,NaN,NaN,NaN
2000-08-02,103.38,103.38,103.38,103.38,0,1.80,1.68,NaN,NaN,0.02,NaN,NaN,1.83,0.00
2000-08-04,105.20,105.20,105.20,105.20,0,1.76,1.70,NaN,NaN,0.04,NaN,NaN,1.82,0.00
2000-08-07,106.92,106.92,106.92,106.92,10,1.63,1.69,NaN,NaN,0.05,NaN,NaN,1.72,5.81
2000-08-09,108.64,108.64,108.64,108.64,20,1.61,1.70,NaN,NaN,0.07,105.14,NaN,1.72,11.63
2000-08-11,110.36,110.36,110.36,110.36,10,1.58,1.65,8.68,NaN,0.09,106.88,NaN,1.72,5.81
2000-08-14,112.08,112.08,112.08,112.08,10,1.56,1.59,8.42,NaN,0.10,108.61,NaN,1.72,5.81
2000-08-16,113.80,113.80,113.80,113.80,20,1.53,1.57,8.17,NaN,0.12,110.34,NaN,1.72,11.63
2000-08-18,115.52,115.52,115.52,115.52,10,1.51,1.54,8.04,NaN,0.14,112.07,NaN,1.72,5.81
2000-08-21,117.24,117.24,117.24,117.24,40,1.49,1.52,7.92,NaN,0.15,113.79,NaN,1.72,23.26
2000-08-23,118.96,118.96,118.96,118.96,110,1.47,1.50,7.79,NaN,0.17,115.51,NaN,1.72,63.95
2000-08-25,118.84,118.84,118.84,118.84,100,-0.10,1.09,6.03,NaN,0.17,116.62,NaN,0.12,833.33
2000-08-28,117.00,117.00,117.00,117.00,100,-1.55,0.33,2.81,NaN,0.15,116.75,111.50,1.84,54.35
2000-08-30,115.15,115.15,115.15,115.15,130,-1.58,-0.44,-0.32,NaN,0.13,116.22,112.02,1.85,70.27
2000-09-01,113.37,113.37,113.37,113.37,100,-1.55,-1.20,-3.30,NaN,0.12,115.27,112.21,1.78,56.18
2000-09-06,112.51,112.51,112.51,112.51,60,-0.76,-1.30,-5.42,NaN,0.11,114.35,112.26,0.86,69.77
2000-09-08,112.39,112.39,112.39,112.39,50,-0.11,-0.81,-5.43,NaN,0.11,113.70,112.28,0.12,416.67
2000-09-11,114.11,114.11,114.11,114.11,30,1.53,0.22,-2.47,NaN,0.12,113.83,112.54,1.72,17.44
2000-09-13,116.08,116.08,116.08,116.08,20,1.73,0.60,0.81,NaN,0.14,114.58,113.04,1.97,10.15
2000-09-15,118.04,118.04,118.04,118.04,50,1.69,1.21,4.12,NaN,0.16,115.73,113.76,1.96,25.51
2000-09-18,118.19,118.19,118.19,118.19,70,0.13,1.27,5.05,NaN,0.16,116.55,114.39,0.15,466.67
2002-02-15,205.20,205.20,205.20,205.20,0,0.00,-0.04,-1.13,-17.27,1.02,205.53,210.57,0.00,NaN
2002-04-29,208.48,208.48,208.48,208.48,0,0.00,0.58,3.65,4.16,1.05,206.53,203.45,0.00,NaN
2003-01-29,172.38,172.38,172.38,172.38,0,0.00,0.10,1.07,-5.62,0.70,172.35,173.80,0.00,NaN
2003-01-30,172.38,172.38,172.38,172.38,0,0.00,0.18,0.20,-5.97,0.70,172.36,173.60,0.00,NaN
2003-02-06,172.38,172.38,172.38,172.38,0,0.00,0.00,-0.16,-6.01,0.70,172.37,173.42,0.00,NaN
2003-02-07,172.38,172.38,172.38,172.38,0,0.00,0.00,0.05,-5.49,0.70,172.37,173.28,0.00,NaN

In [ ]:
df_non_null = daily_df2.dropna()
df_non_null

,Close,Open,High,Low,Vol,Chg,ChgMean8D,ChgW,ChgM,YTD,EMA5,EMA13,TRANGE,VpR
Date,,,,,,,,,,,,,,
2000-09-20,118.21,118.21,118.21,118.21,40,0.02,0.89,5.18,16.41,0.16,117.11,114.94,0.02,2000.00
2000-09-22,118.76,118.76,118.76,118.76,70,0.47,0.58,4.08,14.88,0.17,117.66,115.48,0.55,127.27
2000-09-25,118.98,118.98,118.98,118.98,60,0.19,0.20,2.50,13.10,0.17,118.10,115.98,0.22,272.73
2000-09-27,119.69,119.69,119.69,119.69,60,0.60,0.32,1.40,11.94,0.18,118.63,116.51,0.71,84.51
2000-09-29,120.71,120.71,120.71,120.71,50,0.85,0.53,2.13,11.11,0.19,119.32,117.11,1.02,49.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-25,1267.86,1281.80,1286.84,1264.51,1240000,-1.09,0.06,1.95,4.61,11.49,1268.06,1260.09,22.33,55530.68
2024-03-26,1282.21,1267.86,1282.50,1264.42,941700,1.13,0.52,3.20,4.74,11.63,1272.77,1263.25,18.08,52085.18
2024-03-27,1283.09,1282.21,1286.72,1276.95,919280,0.07,0.54,1.83,3.69,11.64,1276.21,1266.08,9.77,94092.12
2024-03-28,1290.18,1283.09,1293.90,1283.09,1010000,0.55,0.40,1.08,2.84,11.70,1280.87,1269.53,10.81,93432.01
2024-03-29,1284.09,1290.18,1293.04,1282.44,922550,-0.47,0.10,0.18,2.50,11.64,1281.94,1271.61,10.60,87033.02

In [ ]:
# columns_to_check = ['ChgW', 'ChgM', 'EMA5', 'EMA13', 'TRANGE', 'VpR']
# df_non_null_specific = daily_df2.dropna(subset=columns_to_check)
# df_non_null_specific

In [ ]:
df_non_null.to_csv(SITE / f'investing/data/preprocessed/{ticker}.csv')

#### ideas
- 52 wk Range
- Most Active Stocks, Top Gainers, Top Losers.
- the difference between SMAs in different periods or the difference between SMA and EMA in the same period

- component's : 
    - change | avg change | 
    - avg price (daily or in a period) | 
    - avg vol (daily or in a period) | 
    - performance (common range or in a period) | compare with index (by multi timeframe)
    - fundametal: marketcap | revenue | P/E | Beta